asyncpg==0.25.0
celery==5.2.7
emails==0.6
email-validator==1.2.1
fastapi==0.78.0
loguru==0.6.0
lxml==4.8.0
pillow==9.1.1
psycopg2
psycopg2-binary
pytracking==0.2.2
redis==4.3.3
sqlalchemy==1.4.35
sqlmodel==0.0.6
uvicorn==0.17.6
